@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.auth {
  --display: flex;
  --bg-color: transparent;

  --side-bar-max-width: 33.5rem;
  --side-bar-padding: 2.5rem 3.5rem;

  --content-padding-top: 3.75rem;
  --content-padding-bottom: 3.75rem;
  --content-padding-left: 6.25rem;
  --content-padding-right: 6.25rem;

  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);

  @include media (xxl) {
    --side-bar-max-width: 30rem;
    --side-bar-padding: 2.5rem 2.5rem;

    --content-padding-top: 3.125rem;
    --content-padding-bottom: 3.125rem;
    --content-padding-left: 3.125rem;
    --content-padding-right: 3.125rem;
  }

  @include media (lg) {
    --side-bar-max-width: 25rem;
    --side-bar-padding: 2rem 2rem;

    --content-padding-top: 2.5rem;
    --content-padding-bottom: 2.5rem;
    --content-padding-left: 2.5rem;
    --content-padding-right: 2.5rem;
  }

  @include media (md) {
    --display: none;
    --bg-color: #{$color-black};

    --side-bar-max-width: 100%;

    --content-padding-top: 1.5rem;
    --content-padding-bottom: 1.5rem;
    --content-padding-left: none;
    --content-padding-right: none;
  }

  &__content {
    position: relative;
    display: var(--display);
    flex-direction: column;
    flex: 1 1;
    padding-top: var(--content-padding-top);
    padding-bottom: var(--content-padding-bottom);
    padding-left: var(--content-padding-left);
    padding-right: var(--content-padding-right);
  }

  &__logo {
    @include flex-start;
    z-index: 11;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    max-height: 100%;
    overflow: hidden;

    &-picture {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 19, .4);
        mix-blend-mode: normal;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 40%;
        display: flex;
        background: linear-gradient(180deg, rgba(17, 17, 19, 0), #111113);
      }

      &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }
    }

    &-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__side-bar {
    position: relative;
    width: 100%;
    max-width: var(--side-bar-max-width);
    height: 100%;
    z-index: 11;
    padding: var(--side-bar-padding);
    box-sizing: border-box;
    background-color: $color-dark-02;
    overflow-y: auto;
  }

  &-menu {
    @include flex-column-start;
    gap: 1rem;

    &__item {
      width: 100%;
      @include flex-column-start;

      &:first-child {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      &_flex {
        &_center {
          @include flex-center;
        }
      }
    }

    &__pre-title {
      @include flex-start;
      color: $color-gray;
      text-transform: uppercase;
    }

    &__title {
      @include flex-start;
      text-align: left
    }

    &__close {
      &-btn {
        @include flex-center;
        fill: $color-gray;
      }
    }
  }
}
