@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;


.input {
  position: relative;
  width: 100%;
  background-color: $color-dark;
  border: 1px solid $color-gray-01;
  border-radius: 5px;
  padding: 19px 42px 5px 16px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  outline: none;

  &::placeholder {
    color: transparent;
  }

  &:-webkit-autofill {
    -webkit-transition-delay: 9999s;
  }

  &__label {
    @include flex-start;
    padding: 4px 0 0 16px;

    &_error {
      color: $color-danger;
    }
  }

  &-wrapper {
    width: 100%;
  }

  &__item {
    position: relative;
  }

  &__placeholder {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #565c67;
    pointer-events: none;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    will-change: font-size;
    transition: transform .2s ease, font-size .2s ease;

    &_scaled {
      transform: translateY(-0.625rem);
      font-size: 0.75rem;
      line-height: 1rem;
    }

    &_error {
      color: $color-danger;
    }
  }

  &_error {
    border-color: $color-danger;
  }

  &__check-password {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
}
