@use "../../../styles//mixins" as *;
@use "../../../styles/variables" as *;
@use "../../../styles/animations" as *;

.slider-pagination {
  position: relative;
  bottom: 3.125rem;
  z-index: 5;
  @include flex-center;
  gap: 1rem;
  padding: 0 3.75rem;

  @include media (xxxl) {
    bottom: 2.5rem;
    padding: 0 2.5rem;
  }

  @include media (xxl) {
    bottom: 2rem;
    padding: 0 2rem;
  }

  @include media (xl) {
    bottom: 1.5rem;
    padding: 0 1.5rem;
  }

  &__item {
    position: relative;
    overflow: hidden;
    height: 0.25rem;
    background-color: $color-secondary;
    border-radius: 0.5rem;
    flex-grow: 1;
    transition: all .5s ease;

    &_active {
      background-color: $color-secondary-hover;
      flex-grow: 2;
    }
  }

  &__active-line {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    height: 100%;
    width: 100%;
    background-color: $color-white;
    border-radius: 0.5rem;
    animation: progress-bar 10s ease-in-out infinite;
  }
}
