.card {
  --bg-img-before: linear-gradient(90deg, rgba(17, 17, 19, .6), rgba(17, 17, 19, 0));
  --bg-img-after: linear-gradient(180deg, rgba(31, 33, 37, 0) 0, rgba(31, 33, 37, .8));
  --bg-color-before: transparent;
  --width-before: 50%;
  --height-before: 100%;

  --card-gap: 0;

  --card-img-border-radius: 1.5rem;

  --card-body-width: 100%;
  --card-body-position: relative;
  --card-body-padding: 0;

  --card-title-img-width: 100%;
  --card-title-img-height: 100%;

  --card-badge-wrapper-left: 1rem;
  --card-badge-wrapper-right: none;

  position: relative;
  width: 100%;
  height: 100%;
  @include flex-center;
  gap: var(--card-gap);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: var(--width-before);
    height: var(--height-before);
    background-image: var(--bg-img-before);
    background: var(--bg-color-before);
    border-radius: var(--card-img-border-radius);
    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: var(--bg-img-after);
    border-radius: var(--card-img-border-radius);
  }

  &-picture {
    width: 100%;
    height: 100%;
    display: block;
  }

  &-image-bg {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--card-img-border-radius);
    overflow: hidden;

    &__img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }

    &_lg {
      height: 51.25rem;
    }

    &__badge-wrapper {
      position: absolute;
      top: 1rem;
      left: var(--card-badge-wrapper-left);
      right: var(--card-badge-wrapper-right);
    }
  }

  &-content {
    position: absolute;
    top: 6.75rem;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8.75rem;
    padding: 0 3.75rem;
  }

  &-body {
    position: var(--card-body-position);
    left: 0;
    bottom: 0;
    @include flex-column;
    align-items: flex-start;
    gap: 1.25rem;
    max-width: var(--card-body-width);
    padding: var(--card-body-padding);
    z-index: 2;

    &__title {

      &-img {
        max-width: var(--card-title-img-width);
        max-height: var(--card-title-img-height);
        z-index: 4;
        margin-top: auto;
      }
    }

    &__btn {
      width: 100%;
      @include flex-start;
      gap: 2rem;
      stroke: $color-black;

      &-wrapper {
        @include flex-center;
        gap: 0.313rem;
        color: $color-black;

        &-scale {
          @include flex-center;
          transition: transform .2s ease-in-out 0ms;
          transform: scale(1);

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &-text {
        color: $color-black;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 400;
      }

      &-link {
        &_size {

          &_xsm {
            width: 3.5rem;
          }
        }
      }
    }
  }

  &_size {
    &_lg {
      --card-body-width: 32.5rem;
      --card-title-img-width: 38.75rem;
      --card-title-img-height: 12.5rem;
    }

    &_md {
      --card-border-radius: 0;
      --card-body-position: absolute;
      --card-body-padding: 1.5rem;

      --card-img-border-radius: 0;

      --card-title-img-height: auto;

      --bg-img-before: linear-gradient(0deg, rgba(17, 17, 19, 1), rgba(17, 17, 19, 0));
      --bg-img-after: linear-gradient(30deg, rgba(17, 17, 19, 1), rgba(17, 17, 19, 0) 50%);

      --card-badge-wrapper-left: none;
      --card-badge-wrapper-right: 1rem;

      clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }


    &_sm {
      @include flex-column-start;
      --card-border-radius: 0;
      --bg-img-before: transparent;
      --bg-img-after: transparent;
      --width-before: 100%;
      --height-before: 88%;

      --card-gap: 1rem;

      &:hover {
        --bg-color-before: rgba(0, 0, 0, .5);
      }
    }
  }
}
