.card {
  --border-radius: 1.5rem;
  --border-top-radius: 1.5rem;
  --gap: 0;

  --body-padding: 1rem;
  --body-top: 0;
  --body-jc: flex-start;

  --bg-img-border-radius: 1.5rem;
  --bg-title-max-height: 100%;
  --bg-title-max-width: 100%;
  --bg-before-width: 100%;
  --bg-before-height: 100%;
  --bg-before-top: 0;
  --bg-before-bottom: none;
  --bg-before-bg-color: transparent;
  --bg-after-content: none;
  --bg-after-bg-color: transparent;

  --age-restriction-padding-bottom: 0;

  position: relative;
  width: 100%;
  height: 100%;
  @include flex-column;
  gap: var(--gap);
  overflow: hidden;
  border-radius: var(--border-radius);


  &-bg {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: var(--bg-before-top);
      bottom: var(--bg-before-bottom);
      left: 0;
      width: var(--bg-before-width);
      height: var(--bg-before-height);
      background: var(--bg-before-bg-color);
    }

    &::after {
      content: var(--bg-after-content);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--bg-after-bg-color);
    }

    &__picture {
      width: 100%;
      height: 100%;
      display: block;
    }

    &__img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: var(--bg-img-border-radius);
    }
  }

  &-body {
    position: absolute;
    top: var(--body-top);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include flex-column-start;
    justify-content: var(--body-jc);
    gap: 1rem;
    padding: var(--body-padding);

    &__age-restriction {
      width: 100%;
      @include flex-start;
      padding-bottom: var(--age-restriction-padding-bottom);

      &_jc {
        &_fe {
          @include flex-end;
        }
      }
    }

    &__title {

      &-img {
        max-height: var(--bg-title-max-height);
        max-width: var(--bg-title-max-width);
      }
    }

    &__description {
      max-width: 520px;
    }

    &__btn {
      width: 100%;
      @include flex-start;
      gap: 2rem;
      stroke: $color-black;
      padding-top: 4.5rem;

      &-wrapper {
        @include flex-center;
        gap: 0.313rem;
        color: $color-black;

        &-scale {
          @include flex-center;
          transition: transform .2s ease-in-out 0ms;
          transform: scale(1);

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &-text {
        color: $color-black;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 400;
      }

      &-link {
        &_size {

          &_xsm {
            width: 3.5rem;
          }
        }
      }
    }
  }

  &-title {
    width: 100%;
  }

  &_size {

    &_lg {
      --border-top-radius: 0;

      --body-top: 3.125rem;
      --body-padding: 3.75rem;

      --age-restriction-padding-bottom: 7.938rem;

      --bg-title-max-height: 200px;
      --bg-title-max-width: 620px;
      --bg-before-width: 50%;
      --bg-before-bg-color: linear-gradient(90deg, rgba(17, 17, 19, .6), rgba(17, 17, 19, 0));
      --bg-after-content: '';
      --bg-after-bg-color: linear-gradient(180deg, rgba(31, 33, 37, 0) 0, rgba(31, 33, 37, .8));
    }

    &_md {
      clip-path: $main-clip-path;

      --border-radius: 0;

      --body-jc: space-between;

      --bg-img-border-radius: 0;

      --bg-before-height: 66%;
      --bg-before-top: none;
      --bg-before-bottom: 0;
      --bg-before-bg-color: linear-gradient(0deg, rgba(31, 33, 37, 1), rgba(31, 33, 37, 0));
    }

    &_sm {
      --border-radius: 0;
      --gap: 0.5rem;

      --body-padding: 0.5rem;

      --bg-img-border-radius: 0.75rem;

      &:hover {
        --bg-before-bg-color: rgba(0, 0, 0, .5);
      }
    }
  }
}
