.card {
  --width: 100%;
  --height: 100%;
  --border-radius: 1.5rem;
  --border-top-radius: 1.5rem;
  --bg-color: transparent;
  --before-bg: transparent;

  --link-gap: 0;

  --body-padding: 1rem;
  --body-top: 0;
  --body-jc: flex-start;
  --body-btn-padding-top: 0;

  --bg-img-border-radius: 1.5rem;
  --bg-title-max-height: 100%;
  --bg-title-max-width: 100%;
  --bg-before-width: 100%;
  --bg-before-height: 100%;
  --bg-before-top: 0;
  --bg-before-bottom: none;
  --bg-before-bg-color: transparent;
  --bg-before-border-radius: 0;
  --bg-after-content: none;
  --bg-after-bg-color: transparent;

  --age-restriction-padding-bottom: 0;

  position: relative;
  width: var(--width);
  height: var(--height);
  max-height: var(--height);
  overflow: hidden;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  transition: $main-transition;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--before-bg);
    border-radius: var(--border-top-radius);
  }

  &-bg {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      top: var(--bg-before-top);
      bottom: var(--bg-before-bottom);
      left: 0;
      width: var(--bg-before-width);
      height: var(--bg-before-height);
      background: var(--bg-before-bg-color);
      border-radius: var(--bg-before-border-radius);
    }

    &::after {
      content: var(--bg-after-content);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--bg-after-bg-color);
    }

    &_shadow {

      &::before {
        --bg-before-bg-color: linear-gradient(180deg, rgba(31, 33, 37, 0) 0, rgba(31, 33, 37, .8));
        border-radius: var(--bg-img-border-radius);
      }
    }

    &__picture {
      width: 100%;
      height: 100%;
      max-height: var(--picture-max-height);
      display: block;
    }

    &__img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      border-radius: var(--bg-img-border-radius);
    }
  }

  &-body {
    position: absolute;
    top: var(--body-top);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    @include flex-column-start;
    justify-content: var(--body-jc);
    gap: 1rem;
    padding: var(--body-padding);

    &__age-restriction {
      width: 100%;
      @include flex-start;
      padding-bottom: var(--age-restriction-padding-bottom);

      &_jc {
        &_fe {
          @include flex-end;
        }
      }
    }

    &__title {

      &-img {
        max-height: var(--bg-title-max-height);
        max-width: var(--bg-title-max-width);
      }
    }

    &__description {
      max-width: 520px;

      &_loading {
        width: 100%;
        height: 24px;
        border-radius: 0.25rem;
        background-color: $color-secondary;
        animation: $loading-animation;
      }
    }

    &__btn {
      width: 100%;
      @include flex-start;
      gap: 2rem;
      stroke: $color-black;
      fill: transparent;
      padding-top: var(--body-btn-padding-top);

      &-wrapper {
        @include flex-center;
        gap: 0.313rem;
        color: $color-black;
        fill: $color-black;
        stroke: transparent;

        &-scale {
          width: 100%;
          height: 100%;
          @include flex-center;
          transition: transform .2s ease-in-out 0ms;
          transform: scale(1);

          &:hover {
            transform: scale(1.2);
          }
        }
      }

      &-text {
        color: $color-black;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-weight: 400;
      }

      &-link {
        width: 15rem;

        &_size {

          &_lg {
            width: 22.5rem;
          }

          &_xsm {
            width: 3.5rem;
          }
        }
      }

      &_loading {
        width: 22.5rem;
        height: 3.25rem;
        background-color: $color-secondary;
        border-radius: 0.25rem;
        padding-top: 0;
        animation: $loading-animation;
      }
    }

    &_flex {
      &_jc {
        &_flex-start {
          --body-jc: flex-start;
        }

        &_flex-end {
          --body-jc: flex-end;
        }

        &_space-between {
          --body-jc: space-between;
        }
      }
    }
  }

  &-title {
    width: 100%;
  }

  &__link {
    @include flex-column;
    gap: var(--link-gap);
  }

  &_hover {
    &_shadow {

      &:hover {
        --bg-before-bg-color: rgba(0, 0, 0, .5);
        --bg-before-border-radius: 0.75rem;
      }
    }

    &_scale {

      &:hover {
        transform: scale(1.02);
      }
    }

    &_playback {
      &:hover {
        transform: translate(3%, -3%) scale(1.02);
        z-index: 10;
      }

      &_bottom_more {

        &:hover {
          transform: translate(3%, -4.5%) scale(1.02);
        }
      }
    }
  }

  &_clip-path {
    &_main {
      clip-path: $main-clip-path;
    }
  }

  &-playback-bg {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 99%;
    height: 99%;
    background-color: $color-primary;
    clip-path: $main-clip-path;
  }

  &_size {

    &_lg {
      --height: 53.25rem;
      --body-top: 3.125rem;
      --body-padding: 3.75rem;
      --body-btn-padding-top: 4.5rem;

      --age-restriction-padding-bottom: 7.938rem;

      --bg-title-max-height: 200px;
      --bg-title-max-width: 620px;
      --bg-before-width: 50%;
      --bg-before-bg-color: linear-gradient(90deg, rgba(17, 17, 19, .6), rgba(17, 17, 19, 0));
      --bg-after-content: '';
      --bg-after-bg-color: linear-gradient(180deg, rgba(31, 33, 37, 0) 0, rgba(31, 33, 37, .8));
    }

    &_lm {
      --border-radius: 0;

      --body-jc: space-between;
      --body-btn-padding-top: 2rem;

      --bg-img-border-radius: 0;

      --bg-before-height: 66%;
      --bg-before-top: none;
      --bg-before-bottom: 0;
      --bg-before-bg-color: linear-gradient(0deg, rgba(31, 33, 37, 1), rgba(31, 33, 37, 0));
    }

    &_md {
      --border-radius: 0;

      --link-gap: 0.5rem;

      --body-padding: 0.5rem;

      --bg-img-border-radius: 0.75rem;
    }

    &_sm {
      --border-radius: 0;
      --bg-img-border-radius: 0;
    }
  }

  &_loading {
    --bg-color: #{$color-secondary};
    animation: $loading-animation;
  }
}
