@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.series {
  --gap-between-page: 4rem;
  --content-padding-top: var(--main-header-padding);
  --meta-data-description-body-fd: column;
  --meta-data-description-body-jc: flex-start;
  --meta-data-description-body-gap: 2.5rem;

  --content-upper-img-max-width: 520px;
  --content-upper-img-max-height: 260px;

  --bg-before-height: 35rem;

  position: relative;
  width: 100%;

  @include media (xxl) {
    --gap-between-page: 3rem;
    --bg-before-height: 30rem;
  }

  @include media (xl) {
    --gap-between-page: 2rem;
    --bg-before-height: 25rem;
  }

  @include media (lg) {
    --gap-between-page: 1.5rem;
    --bg-before-height: 20rem;
  }

  @include media (md) {
    --bg-before-height: 15rem;
  }

  @include media (sm) {
    --bg-before-height: 7rem;
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &__picture {
      position: relative;
      width: 100%;
      height: 100%;
      @include flex-center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(270deg, rgba(17, 17, 19, 0) 2.56%, rgba(17, 17, 19, .6));
      }

      &::before {
        content: "";
        position: absolute;
        top: auto;
        bottom: 0;
        width: 100%;
        height: var(--bg-before-height);
        display: block;
        pointer-events: none;
        background-image: linear-gradient(180deg, rgba(30, 31, 35, 0) 0, #111113 98%);
      }
    }

    &__video {
      position: relative;
      width: 100%;
      height: 100%;
      @include flex-center;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        background-image: linear-gradient(270deg, rgba(17, 17, 19, 0) 2.56%, rgba(17, 17, 19, .6));
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 0.063rem;
        pointer-events: none;
        top: auto;
        bottom: 0;
        width: 100%;
        height: var(--bg-before-height);
        background-image: linear-gradient(180deg, rgba(30, 31, 35, 0) 0, #111113 98%);
      }

      &-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    position: relative;
    @include flex-column-start;
    gap: 1rem;
    z-index: 10;
    padding-top: var(--content-padding-top);

    &-upper {
      @include flex-column-start;
      gap: 1rem;

      &__img {
        max-width: var(--content-upper-img-max-width);
        max-height: var(--content-upper-img-max-height);

        @include media (xxxl) {
          --content-upper-img-max-width: 390px;
          --content-upper-img-max-height: 195px;
        }

        @include media (xxl) {
          --content-upper-img-max-width: 368px;
          --content-upper-img-max-height: 184px;
        }

        @include media (xl) {
          --content-upper-img-max-width: 272px;
          --content-upper-img-max-height: 136px;
        }

        @include media (lg) {
          --content-upper-img-max-width: 208px;
          --content-upper-img-max-height: 104px;
        }

        @include media (md) {
          --content-upper-img-max-width: 200px;
          --content-upper-img-max-height: 100px;
        }
      }

      &__item {
        width: 100%;
        @include flex-start;
        gap: 1.563rem;
        fill: $color-gray;
      }
    }

    &-header {
      width: 100%;
      @include flex-between;
      gap: var(--gap-between-page);

      @include media (md) {
        @include flex-column-start;
      }

      &-btn {
        @include flex-center;
        gap: 0.5rem;

        &-group {
          width: 100%;
          @include flex-start;
          gap: 1rem;
          flex: 1 0;

          @include media (sm) {
            @include flex-column-start;
          }

          &__item {
            width: 100%;
            @include flex-center;
            gap: 0.5rem;
            flex: 1 0;

            &_flex {
              &_shrink {
                &_lg {
                  flex: 2 0;
                }
              }
            }
          }
        }

        &-wrapper {
          width: 100%;
          @include flex-center;
          fill: $color-white;

          &_fill {
            &_black {
              fill: $color-black;
            }

            &_transparent {
              fill: transparent;
            }
          }

          &_stroke {
            &_white {
              stroke: $color-white;
            }
          }
        }
      }

      &__title {
        @include flex-start;
        flex: 1 0;
      }
    }

    &-body {
      width: 100%;
      @include flex-column;
    }

    &-footer {
      width: 100%;
      @include flex-column;
      gap: 2rem;

      &__item {
        width: 100%;
        @include flex-center;
      }
    }

    &_loading {
      --content-padding-top: 10rem;
      @include flex-center;
    }
  }

  &-seasons-line {
    @include flex-start;
    gap: 1.875rem;

    &__list {
      @include flex-center;
      gap: 1rem;
    }

    &__link {
      width: 1.875rem;
      height: 1.875rem;
      @include flex-center;
      border: 0.063rem solid hsla(0, 0%, 100%, .2);
      border-radius: 0.25rem;
      opacity: .8;

      &:hover {
        opacity: 1;
        border: 0.063rem solid $color-white-dark;
      }
    }

    &__item {
      border-radius: 0.25rem;

      &_active {
        background-color: $color-primary;
      }
    }
  }

  &-meta-data {
    width: 100%;
    @include flex-between;
    align-items: flex-start;
    gap: var(--gap-between-page);

    @include media (md) {
      @include flex-column-start;
    }

    &-trailer {
      @include flex-column-start;
      gap: 1.875rem;
    }

    &__item {
      flex: 1 0;
    }
  }
}
