@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.badge {
  @include flex-center;
  color: $color-black;
  text-transform: uppercase;
  padding: 0.188rem 0.5rem 0.063rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.25rem;

  @include media (xl) {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  @include media (lg) {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &_primary {
    background-color: $color-primary;
  }

  &_secondary {
    background-color: $color-orangeBrown;
  }

  &_loading {
    width: 10.25rem;
    height: 1.5rem;
    @include flex-center;
    background-color: $color-secondary;
    animation: $skeleton-bg-animation;
  }
}
