@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.my {
  @include flex-column-start;
  background-color: $color-dark-01;

  &-header {
    width: 100%;
    padding-top: var(--main-header-padding);
    padding-bottom: 2rem;
    background: linear-gradient(180deg, $color-black, $color-black-01);

    &__title {
      @include flex-column-start;
      gap: 0.5rem
    }

    &__wrapper {
      @include flex-column-start;
      gap: 1.5rem;
    }

    &-nav-bar {

      &-list {
        @include flex-start;
        gap: 2.5rem;
      }
    }
  }
}
