@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.main {
  min-height: 100vh;

  &-wrapper {
    width: 100%;
    height: 50vh;
    @include flex-center;
    align-items: flex-end;
  }
}
