@use "../../styles/variables" as *;

.search {
  padding-top: $main-header-padding;

  &-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }
}
