.slider {
  --animation-time: .4s;
  --transition: transform var(--animation-time) ease-in-out 0ms;
  --transitionNone: none;

  --slider-list-padding: 0;
  --slider-list-gap: 0;

  --slider-item-width: calc(100% - 200px);
  --slider-item-margin: 0 100px;
  --slider-item-before-bg-color: transparent;
  --slider-item-hover-scale: none;
  --slider-item-next-left: -200px;
  --slider-item-next-scale: 0.95;
  --slider-item-prev-left: 200px;
  --slider-item-prev-scale: 0.95;

  --slider-btn-width: 60px;

  position: relative;
  width: 100%;
  height: 100%;
  stroke: white;
  fill: transparent;
  overflow: hidden;

  &__btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: var(--slider-btn-width);
    @include flex-center;
    z-index: 5;
    opacity: 1;
    transform: scale(1);
    transition: all var(--animation-time) ease-in-out 0ms;

    &:hover {
      transform: scale(1.2);
    }

    &_disabled {
      opacity: 0;
      pointer-events: none;
    }

    &_prev {
      left: 0;
    }

    &_next {
      right: 0;
    }
  }

  &__list {
    @include flex-center;
    justify-content: flex-start;
    gap: var(--slider-list-gap);
    transition: var(--transition);
    padding: var(--slider-list-padding);
  }

  &__item {
    position: relative;
    @include flex-center;
    width: var(--slider-item-width);
    flex-shrink: 0;
    transition: transform var(--animation-time) ease-in-out 0ms;
    margin: var(--slider-item-margin);

    &:hover {
      transform: var(--slider-item-hover-scale);
    }

    &_next {
      left: var(--slider-item-next-left);
      transform: scale(var(--slider-item-next-scale));

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--slider-item-before-bg-color);
        z-index: 2;
      }
    }

    &_active {
      transform: scale(1);
    }

    &_prev {
      left: var(--slider-item-prev-left);
      transform: scale(var(--slider-item-prev-scale));

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--slider-item-before-bg-color);
        z-index: 2;
      }
    }
  }

  &-pagination {
    position: relative;
    bottom: 50px;
    z-index: 5;
    @include flex-center;
    gap: 1rem;
    padding: 0 160px;

    &__item {
      height: 4px;
      background-color: $color-secondary;
      border-radius: 8px;
      flex-grow: 1;
      transition: all .5s ease;

      &_active {
        background-color: $color-secondary-hover;
        flex-grow: 2;
      }
    }

    &__active-line {
      transition: all .5s ease;
      height: 100%;
      background-color: $color-white;
      border-radius: 8px;
    }
  }

  &_multi {
    --slider-list-padding: 0 100px;
    --slider-list-gap: 1rem;

    --slider-item-width: 327px;
    --slider-item-margin: 0;
    --slider-item-before-bg-color: rgba(0, 0, 0, 0.5);
    --slider-item-hover-scale: scale(1.02);
    --slider-item-next-left: 0;
    --slider-item-next-scale: 1;
    --slider-item-prev-left: 0;
    --slider-item-prev-scale: 1;

    --slider-btn-width: 88px;
  }
}
