@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.burger-menu {
  --aside-display: none;
  --aside-width: 30rem;
  --aside-padding: 2.5rem 3.75rem;
  --aside-gap: 2.5rem;
  --aside-header-gap: 1.5rem;
  --aside-header-new-profile-size: 3.5rem;
  --aside-subscription-gap: 1.5rem;
  --aside-subscription-title-gap: 0.5rem;
  --aside-subscription-banner-top: -35px;
  --aside-subscription-banner-width: 224px;
  --aside-subscription-padding: 1rem;
  --aside-nav-bar-list-padding-top: 3.75rem;
  --aside-nav-bar-list-gap: 2.5rem;

  @include flex-center;
  cursor: pointer;

  @include media (xxl) {
    --aside-width: 25rem;
    --aside-padding: 2.5rem 3.5rem;
    --aside-gap: 1.5rem;
    --aside-header-new-profile-size: 2.5rem;
    --aside-subscription-banner-top: -1.438rem;
    --aside-subscription-banner-width: 7.875rem;
    --aside-subscription-title-gap: 0;
    --aside-subscription-gap: 0.375rem;
    --aside-subscription-padding: 0.875rem;
    --aside-nav-bar-list-padding-top: 1rem;
    --aside-nav-bar-list-gap: 1.875rem;
  }

  @include media (xl) {
    --aside-width: 19rem;
    --aside-padding: 2.5rem 2.5rem;
    --aside-subscription-padding: 0.5rem;
    --aside-subscription-banner-top: -1.875rem;
    --aside-nav-bar-list-gap: 1.3rem;
  }

  @include media (md) {
    --aside-width: 100%;
    --aside-padding: 1.438rem 2rem 2rem;
    --aside-header-gap: 1rem;
    --aside-subscription-gap: 0.625rem;
    --aside-subscription-padding: 0.75rem;
    --aside-subscription-banner-top: -2.625rem;
  }

  &__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: var(--aside-display);
    justify-content: end;
    cursor: default;
  }

  &_active {
    --aside-display: flex;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 19, .64);
  }

  &-aside {
    position: absolute;
    width: var(--aside-width);
    height: 100vh;
    overflow-y: auto;
    @include flex-column;
    gap: var(--aside-gap);
    justify-content: flex-start;
    padding: var(--aside-padding);
    z-index: 5;
    backdrop-filter: blur(12px);
    background-color: $color-dark-02-no-opacity;

    &-header {
      width: 100%;
      @include flex-column-end;
      fill: $color-white;
      gap: var(--aside-header-gap);

      &__item {
        width: 100%;
        @include flex-start;
        gap: 1.5rem;

        &_jc {
          justify-content: space-between;
        }

        &_margin {
          &_bottom {
            margin-bottom: 2.75rem;
          }
        }
      }

      &__new-profile {
        @include flex-center;
        background-color: $color-secondary;
        fill: $color-gray;
        width: var(--aside-header-new-profile-size);
        height: var(--aside-header-new-profile-size);
        border-radius: 50%;
        padding: 0.625rem;
      }

      &__wrapper {
        width: 100%;
        @include flex-end;
        position: relative;
      }

      &__title {}

      &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        @include flex-center;
      }
    }

    &-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &-subscription {
      @include flex-column-start;
      gap: var(--aside-subscription-gap);
      padding: var(--aside-subscription-padding);
      border: 1px solid #565c67;
      border-radius: 16px;

      &__title {
        position: relative;
        width: 100%;
        @include flex-column-start;
        gap: var(--aside-subscription-title-gap);
        text-align: left;

        @include media (md) {
          @include flex-start;
          flex-direction: row;
          gap: 0.188rem;
        }
      }

      &__banner {
        position: absolute;
        top: var(--aside-subscription-banner-top);
        right: -0.188rem;
        width: var(--aside-subscription-banner-width);
      }
    }

    &-nav-bar {
      &-list {
        padding-top: var(--aside-nav-bar-list-padding-top);
        @include flex-column-start;
        gap: var(--aside-nav-bar-list-gap);

        @include media (md) {
          padding-top: 1rem;
          display: grid;
          grid-template-columns: repeat(2, max-content);
          justify-content: space-between;
          gap: 1rem;
        }
      }
    }
  }
}
