@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.meta-data {
  @include flex-column-start;
  gap: 1rem;

  &-header {
    width: 100%;

    &-list {
      width: 100%;
      @include flex-between;

      @include media(sm) {
        @include flex-column-start;
        gap: 1rem;
      }

      &__wrapper {
        @include flex-center;
        gap: 1rem;

        @include media(xl) {
          gap: 0.5rem;
        }

        &_gap {
          &_size {
            &_lg {
              gap: 2rem;
            }
          }
        }
      }

      &__item {
        @include flex-center;
        gap: 0.5rem;
        fill: $color-secondary-active;
      }
    }
  }

  &-info {
    width: 100%;
    @include flex-column-start;
    gap: 0.5rem;

    &__item {
      width: 100%;
      @include flex-between;

      @include media (xl) {
        @include flex-column-start;
      }
    }
  }
}
