@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.show-more {
  --discription-max-width: 48%;

  @include flex-column-start;
  gap: 1rem;

  &__title {
    @include flex-column-start;
  }

  &__discription {
    text-align: left;
    max-width: var(--discription-max-width);
    max-height: 140px;
    overflow-y: hidden;

    @include media (md) {
      --discription-max-width: 100%;
    }

    &_show {
      max-height: 100%;
    }
  }

  &__btn {
    @include flex-center;
    gap: 0.5rem;
    color: $color-gray;
    stroke: $color-gray;

    &:hover {
      color: $color-white;
      stroke: $color-white;
    }

    &-wrapper {
      padding-top: 1rem;
    }
  }
}
