.nav-bar {
  @include flex-between;
  padding: 1.563rem 2.5rem;

  &__logo {
    @include flex-center;
  }

  &-list {
    @include flex-center;
    gap: 2.5rem;

    &__link {
      @include flex-center;
      gap: 1rem;
      fill: $color-white;

      &_active {
        @include flex-center;
        gap: 1rem;
        fill: $color-primary;

        &>span {
          color: $color-primary;
        }
      }
    }

    &_gap {
      &_sm {
        gap: 1.563rem;
      }
    }

    &_padding {

      &_top {
        padding-top: 2rem
      }
    }
  }

  &__item {
    @include flex-center;
    gap: 5rem;

    &_gap {

      &_sm {
        gap: 1.563rem;
      }
    }
  }

  &__wrapper {
    @include flex-center;
  }
}
