@import "variables";

@font-face {
  font-family: "Circe Regular";
  src: url('../assets/fonts/Circe-Regular.ttf') format('truetype');
}

* {
  font-family: "Circe Regular", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: all .4s ease-in-out 0ms;
  color: $color-white;
}

.container {
  width: 100%;
  padding: 0 6.25rem;
}

.link {
  font-size: 1.125rem;
  color: $color-secondary;

  &:hover {
    color: $color-secondary-hover;
  }

  &:active {
    color: $color-secondary-active;
  }

  &_primary {
    color: $color-secondary-active;

    &:hover {
      color: $color-primary;
    }

  }
}
