@use "./variables" as *;

h1 {
  font-size: 56px;
  line-height: 72px;
}

h2 {
  font-size: 40px;
  line-height: 56px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

h6 {
  font-size: 18px;
  line-height: 24px;
}

.title {
  font-size: 18px;
  line-height: 24px;

  &_align {
    &_left {
      text-align: left;
    }
  }

  &_size {
    &_xxl {
      font-size: 56px;
      line-height: 72px;
    }

    &_xl {
      font-size: 40px;
      line-height: 56px;
    }

    &_l {
      font-size: 32px;
      line-height: 40px;
    }

    &_m {
      font-size: 24px;
      line-height: 32px;
    }

    &_s {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &_color {
    &_black {
      color: $color-black;
    }

    &_gray {
      color: $color-gray;
    }

    &_white-dark {
      color: $color-white-dark;
    }

    &_secondary {
      color: $color-secondary;

      &-active {
        color: $color-secondary-active;
      }
    }
  }

  &_weight {
    &_thin {
      font-weight: 100;
    }

    &_extra-light {
      font-weight: 200;
    }

    &_light {
      font-weight: 300;
    }

    &_bold {
      font-weight: 600;
    }
  }
}

.text {
  font-size: 16px;
  line-height: 24px;

  &_color {

    &_secondary {
      color: $color-secondary;

      &-active {
        color: $color-secondary-active;
      }
    }

    &_gray {
      color: $color-gray;
    }
  }

  &_size {
    &_s {
      font-size: 14px;
      line-height: 24px;
    }

    &_xs {
      font-size: 12px;
      line-height: 16px;
    }
  }
}
