@import "variables";

h1 {
  font-size: 2.5rem;
  line-height: 3rem;
}

h2 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.title {
  font-size: 1.125rem;
  line-height: 1.25rem;

  &_align {
    &_left {
      text-align: left;
    }
  }

  &_size {

    &_sm {
      font-size: 0.875rem;
    }
  }
}

.text {
  font-size: 1rem;
  line-height: 1.5rem;

  &_color {

    &_secondary {
      color: $color-secondary;
    }
  }
}
