$color-white: #fff;
$color-white-hover: #ffffffcc;
$color-white-dark: #f5f5f5CC;
$color-black: #111113;
$color-black-opacity: #111113CC;
$color-black-01: #1f2125;
$color-dark: rgba(17, 17, 19, .8);
$color-dark-01: rgba(25, 26, 29, .8);
$color-dark-02: rgba(31, 33, 37, .8);
$color-dark-02-no-opacity: rgba(31, 33, 37, 1);
$color-dark-03: rgba(40, 42, 46, .8);
$color-primary: #feba2b;
$color-primary-hover: #e19900;
$color-primary-active: #E19900CC;
$color-secondary: #565c676c;
$color-secondary-hover: #565C67A4;
$color-secondary-active: #565C67CC;
$color-orangeBrown: #D4A977;
$color-gray: #878e9c;
$color-gray-01: rgba(86, 92, 103, .24);
$color-medium-gray: #aaa;
$color-danger: #c10e00;
$main-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
$clip-path-10: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
$main-transition: all .4s ease-in-out 0ms;
$main-z-index: 1001;
$breakpoint-xxxl: 112.5rem;
$breakpoint-xxl: 87.5rem;
$breakpoint-xl: 75rem;
$breakpoint-lg: 62rem;
$breakpoint-md: 48rem;
$breakpoint-sm: 36rem;
$skeleton-bg-animation: skeleton-bg-pulse 2.5s infinite;
$skeleton-title-animation: skeleton-title-pulse 2.5s infinite;
$skeleton-text-animation: skeleton-text-pulse 2.5s infinite;

:root {
  --main-header-padding: 12.5rem;

  --skeleton-item-height: 1.25rem;
  --skeleton-item-width: 35%;
  --skeleton-item-width-md: 25%;
  --skeleton-item-width-sm: 15%;
  --skeleton-item-gap: 1.25rem;
  --skeleton-title-width: 40%;
  --skeleton-title-height: 1.875rem;

  --playback-hover-transform: translate(3%, -3%) scale(1.02);

  @media (max-width: $breakpoint-xxxl) {
    --skeleton-item-height: 1rem;
    --skeleton-item-gap: 1rem;
  }

  @media (max-width: $breakpoint-xxl) {
    --main-header-padding: 7.5rem;
  }

  @media(max-width: $breakpoint-xl) {
    --skeleton-title-height: 1.25rem;
  }

  @media(max-width: $breakpoint-lg) {
    --main-header-padding: 5rem;

    --skeleton-item-height: 0.75rem;
    --skeleton-item-gap: 0.5rem;
  }

  @media(max-width: $breakpoint-md) {
    --main-header-padding: 3.5rem;

    --skeleton-item-gap: 1rem;
    --skeleton-item-width: 45%;
    --skeleton-item-width-md: 35%;
    --skeleton-item-width-sm: 25%;
    --skeleton-title-width: 70%;

    --playback-hover-transform: translate(1%, -1%) scale(1);
  }

  @media(max-width: $breakpoint-sm) {
    --skeleton-item-width: 65%;
    --skeleton-item-width-md: 55%;
    --skeleton-item-width-sm: 45%;
  }
}
